@font-face {
    font-family: 'Druk LCG';
    src: url('/fonts/DrukLCG-Bold.woff2') format('woff2'),
        url('/fonts/DrukLCG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide LCG Super';
    src: url('/fonts/DrukWideLCG-Super.woff2') format('woff2'),
        url('/fonts/DrukWideLCG-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Wide Bold';
    src: url('/fonts/DrukTextWideLCG-Bold.woff2') format('woff2'),
        url('/fonts/DrukTextWideLCG-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Text Wide LCG';
    src: url('/fonts/DrukTextWideLCG-Heavy.woff2') format('woff2'),
        url('/fonts/DrukTextWideLCG-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Cond LCG Super';
    src: url('/fonts/DrukCondLCG-Super.woff2') format('woff2'),
        url('/fonts/DrukCondLCG-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk Text LCG Super';
    src: url('/fonts/DrukTextLCG-Super.woff2') format('woff2'),
        url('/fonts/DrukTextLCG-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-secondary: rgb(246, 244, 229);
    --color-primary: rgb(0, 0, 0);
}

html {
    font-size: 62.5%;
}

.card-section {
    width: 90%;
    margin: 0 auto;
}

.card-section .card {
    background-color: rgb(246, 244, 229);
    color: black;
}

.card-section .card-title {
    color: rgb(246, 244, 229);
    margin: 0 0 2.4rem;
    font-family: 'Druk Wide Bold', system-ui,-apple-system,Segoe UI,Roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    font-size: clamp(3rem, 4vw, 4.7rem);
}

/* Full Width Card */
.fwc {
    padding: 6.4rem 0;
}

.fwc__card {
    border-radius: 4.8rem;
    padding: 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* icons | headline | body */
    gap: 3rem;
    align-items: center;
}

.fwc__icons {
    display: flex;
    gap: 2.2rem;
    align-items: center;
}

.fwc__icon {
    width: 18rem;
    height: auto;
    display: block;
}

.fwc__headlineText {
    margin: 0;
    text-transform: uppercase;
    margin: 0 0 2.4rem;
    font-family: 'Druk Wide Bold', system-ui,-apple-system,Segoe UI,Roboto,sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.07em;
    font-size: clamp(3rem, 4vw, 4.7rem);
    line-height: 0.95;
    white-space: pre-line;
    /* respeta \n del CMS */
}

.fwc__body {
    padding-left: 7rem;
}

.fwc__bodyText {
    margin: 1.6rem 0 0;
    font-size: 1.8rem;
    line-height: 1.4;
    max-width: 38ch;
    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 980px) {
    .fwc__card {
        grid-template-columns: 1fr;
        border-radius: 3.2rem;
    }
}

/* Three Column Card */

.tcc {
    padding: 6.4rem 0;
}

.tcc__card {
    border-radius: 4.8rem;
    padding: 4rem 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tcc__col {
    padding: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
    min-height: 34rem;
    padding-inline: 3rem;
    position: relative;
}

.tcc__col:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 97.5%;
  background: url("/images/separator.png") center / cover no-repeat;
  pointer-events: none;
}

.tcc__colTitle {
    font-family: 'Druk LCG';
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 4.3rem;
}

.tcc__body {
    margin: 1.6rem 0 0;
    font-size: 1.8rem;
    line-height: 1.4;
    max-width: 38ch;
    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tcc__iconWrap {
    margin-top: auto;
    padding-top: 2.4rem;
    align-self: center;
    display: flex;
    justify-content: center;
}

.tcc__icon {
    width: min(26rem, 85%);
    height: auto;
    display: block;
}

@media (max-width: 980px) {
    .tcc__card {
        grid-template-columns: 1fr;
        border-radius: 3.2rem;
    }

    .tcc__col {
        padding: 2.4rem 0;
        min-height: auto;
    }

    .tcc__col:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }

    .tcc__colTitle {
        font-size: 2.4rem;
    }

    .tcc__body {
        font-size: 1.6rem;
    }
}

/* Packages Section */

.pk {
    padding: 14rem 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.pk__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 3rem;
    max-width: 90%;
    margin: 10rem auto;
}

.pk__header {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        margin: 0;
        text-transform: uppercase;
        font-family: 'Druk Cond LCG Super', system-ui,-apple-system,Segoe UI,Roboto,sans-serif;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        font-size: clamp(15rem, 11vw, 19rem);
        line-height: 1;
    }

    .pk__subtitle {
        font-family: 'Druk Wide Bold';
        font-size: 4rem;
        letter-spacing: -0.05em;;
    }
}

.pk__card {
    border-radius: 4.8rem;
    padding: 4rem 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.pk__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.pk__icon {
    width: min(18rem, 100%);
    height: auto;
    display: block;
}

.pk__title {
    margin: 1.6rem 0 0;
    font-size: 1.8rem;
    line-height: 1.4;
    max-width: 38ch;
    font-family: "obviously", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 980px) {
    .pk__card {
        grid-template-columns: 1fr;
    }
}

